.connect {
  width: 100vw;
  height: 100vh;
  background-color: white;
  transition: 3s;
}
.connect_links {
  position: fixed;
  left: 20%;
  top: 70px;
  list-style: decimal-leading-zero;
  font-size: 47px;
  z-index: 12;
}
.connect_links li {
  position: relative;
  width: fit-content;
}
.connect_links li::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 7px;
  height: 2px;
  width: 0%;
  background-color: black;
  transition: 0.3s;
}
.connect_links li:hover::after {
  width: 100%;
}

.hire {
  font-size: 273px;
  width: 100%;
  z-index: 11;
  text-align: center;
  position: fixed;
  color: #251fb7;
  mix-blend-mode: darken;
  bottom: 3px;
}
.hero {
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  filter: contrast(1.5);
}
.overlay {
  content: "";
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-image: var(--gradient);

  z-index: 10;
  mix-blend-mode: multiply;
}

@media screen and (max-width: 1007px) {
  .hire {
    font-size: 215px;
  }
  .connect_links {
    top: 90px;
  }
}
@media screen and (max-width: 800px) {
  .hire {
    font-size: 158px;
    bottom: 65px;
  }
}
@media screen and (max-width: 600px) {
  .hire {
    font-size: 104px;
    bottom: 83px;
  }
  .connect_links {
    top: 115px;
    font-size: 35px;
  }
}
@media screen and (max-width: 400px) {
  .hire {
    font-size: 80px;
    bottom: 90px;
  }
}
