/* Fonts  */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* Components  */
@import url(../mainComponents/homePageComponent/styles/home.css);
@import url(../mainComponents/homePageComponent/styles/home-twoLines.css);

@import url(../mainComponents/storyPageComponent/styles/story.css);
@import url(../mainComponents/storyPageComponent/styles/story-tape.css);

@import url(../mainComponents/projectsPageComponent/styles/project.css);

@import url(../mainComponents/connectPageComponent/styles/connect.css);

@import url(../styles/components/buttons.css);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
  background-color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
body {
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
}
@-moz-document url-prefix() {
  /* Disable scrollbar Firefox */
  html {
    scrollbar-width: none;
  }
}

a {
  text-decoration: none;
  font-family: "Bebas Neue", cursive, sans-serif;
  color: black;
}
