.cursor {
  position: fixed;
  left: 0;
  right: 0;
  transition: 0.1s;
  width: 10px;
  height: 10px;
  background-color: red;
  z-index: 100;
}
.story {
  transition: 3s;
}
.story_container {
  position: fixed;
  display: flex;
  width: 2200px;
  height: 100vh;
  scroll-behavior: smooth;
  overflow: hidden;
  background-image: linear-gradient(180deg, #a30000, black);
}
.story_text {
  width: fit-content;
  padding-left: 20px;
  padding-top: 100px;
}
.story_text-header {
  border-left: 11px solid #ff7400;
  padding-left: 11px;
  font-size: 8rem;
  margin-bottom: 10px;
}
.story_text-subHeader {
  font-size: 2rem;
  margin: 0px;
}
.story_text-intro {
  font-family: system-ui, sans-serif;
  font-size: 1.1rem;
}
.story_photo {
  display: flex;
  height: 400px;
  overflow: hidden;
}
.story_photo-img {
  height: 500px;
  filter: saturate(1.1) contrast(1.1);
}
.story_photo-text {
  display: grid;
  grid-template-columns: repeat(5, min-content);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  letter-spacing: 3px;
}

@media only screen and (max-width: 400px) {
  .story_text {
    width: 350px;
  }
  .story_text-subHeader {
    font-size: 27px;
  }
  .story_text-intro {
    font-size: 15.6px;
  }
}

.story_photo-text :nth-child(1) {
  font-size: 5rem;
}
.story_photo-text :nth-child(2) {
  font-size: 3rem;
}
.story_photo-text :nth-child(3) {
  font-size: 9rem;
}
.story_photo-text :nth-child(4) {
  font-size: 3rem;
}
.story_photo-text :nth-child(5) {
  font-size: 3rem;
}
.story_photo-text :nth-child(6) {
  font-size: 3rem;
}
.story_photo-text :nth-child(7) {
  font-size: 6rem;
}
.story_photo-text :nth-child(8) {
  font-size: 2.5rem;
}
.story_photo-text :nth-child(9) {
  font-size: 7rem;
}
.story_photo-text :nth-child(10) {
  font-size: 3rem;
}
.story_photo-text :nth-child(11) {
  font-size: 5rem;
}
.story_photo-text :nth-child(12) {
  font-size: 2rem;
}
.story_photo-text :nth-child(13) {
  font-size: 4rem;
}
.story_photo-text :nth-child(14) {
  font-size: 3rem;
}
.story_photo-text :nth-child(15) {
  font-size: 3rem;
}
