.story_tape-box {
  position: relative;
}
.story_tape-box-image {
  position: absolute;
  top: -45px;
  left: -148px;
}
.story_tape {
  position: relative;
  width: 1500px;
  display: flex;
  justify-content: space-around;
  border-block: 10px dashed wheat;
  outline: 13px solid;
  margin-top: 13px;
  padding-block: 10px;
  background-color: black;
  transition: 0.5s;
}
.story_tape-p {
  position: absolute;
  color: var(--button);
  left: -125px;
  top: 54%;
  font-size: 17px;
  letter-spacing: 1px;
}
.story_tape-parts {
  position: relative;
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: darkred;
  font-family: system-ui, sans-serif;
  border-radius: 1px;
  transition: 0.5s;
  overflow: hidden;
}
.story_tape-parts video {
  width: 300px;
  height: 300px;
  border-radius: 4px;
  filter: contrast(1.1) saturate(1.4) brightness(0.9);
  transform: rotateY(180deg);
}

.story_tape-parts-text {
  position: absolute;
  height: 100%;
  z-index: 1000;
  background-color: #e55904;
  top: 0;
  left: 0;
  white-space: normal;
  padding: 10px;
  padding-top: 20px;
  transition: 0.3s;
  color: black;
  font-size: 18px;
  opacity: 0;
}
.story_tape-parts-text:hover {
  opacity: 1;
}
