.project_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(180deg, #a30000, black);
  transition: 3s;
}
.project_details {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  width: fit-content;
}
.project_details-left {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.project_details-text h1 {
  font-size: 60px;
  letter-spacing: 2px;
}
.project_details-text p {
  font-size: 18px;
  font-family: sans-serif;
  margin-bottom: 10px;
  width: 400px;
}
.project_details-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project_details-buttons a {
  background-color: transparent;
  border: none;
}

.project_details-right {
  border: 3px solid red;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 30px;
}
.project_details-right img {
  width: 600px;
  height: 250px;
  object-fit: cover;
  transform: scale(0.9);
}

.project_cursors {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 111px;
}
.project_container-singleProject {
  width: 15px;
  height: 80px;
  border: 1px solid white;
  transition: 0.3s;
  cursor: pointer;
  margin-inline: 5px;
}
.project_container-singleProject:active {
  background-color: wheat;
}
.text_select {
  color: #d52222;
  font-size: 17px;
}
@media only screen and (max-width: 750px) {
  .project_details-right img {
    width: 500px;
  }
}

@media only screen and (max-width: 500px) {
  .project_details-right img {
    width: 400px;
    height: 180px;
  }
}
@media only screen and (max-width: 450px) {
  .project_details-right {
    margin-top: 100px;
  }
  .project_details-text h1 {
    font-size: 30px;
  }
  .project_details-text p {
    width: 240px;
  }

  .project_details-right img {
    width: 350px;
    height: 150px;
  }
}
@media only screen and (max-width: 450px) {
  .project_details-right img {
    width: 300px;
    height: 130px;
  }
}
