.project_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(180deg, #a30000, black);
  transition: 3s;
}
.project_details {
  display: flex;
}
.project_details-left {
  width: 350px;
}
.project_details-text h1 {
  font-size: 60px;
  letter-spacing: 2px;
}
.project_details-text p {
  font-size: 18px;
  font-family: sans-serif;
}
.project_details-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.project_details-buttons a {
  background-color: transparent;
  border: none;
}

.project_details-right {
  margin-left: 20px;
  border: 3px solid red;
  background-color: black;
}
.project_details-right img {
  width: 222px;
  height: 270px;
  object-fit: cover;
  transform: scale(0.9);
}

.project_cursors {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 232px;
}
.project_container-singleProject {
  width: 15px;
  height: 150px;
  border: 1px solid white;
  transition: 0.3s;
  cursor: pointer;
}
.project_container-singleProject:active {
  background-color: wheat;
}
.text_select {
  color: #d52222;
  font-size: 17px;
}

@media only screen and (max-width: 630px) {
  .project_details-left {
    width: 250px;
  }
  .project_details-text h1 {
    font-size: 50px;
  }
  .project_details-text p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 500px) {
  .project_details-left {
    width: 200px;
  }
  .project_details-text h1 {
    font-size: 40px;
  }
  .project_details-text p {
    font-size: 12px;
  }
  .project_details-right img {
    width: 180px;
    height: 200px;
  }
}

@media only screen and (max-width: 400px) {
  .project_details {
    flex-direction: column-reverse;
  }
  .project_details-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    padding-top: 5px;
  }
  .project_details-text {
    text-align: center;
  }
  .project_details-right {
    display: flex;
    justify-content: center;
    margin-left: 0px;
  }
}
