.home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(180deg, #a30000, black);
  transition: 3s;
}
.home_3dImage {
  position: fixed;
  z-index: 100;
  filter: contrast(1.1) saturate(1.1);
}
.home_navigation {
  position: fixed;
  right: 29px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 500;
}
.splineFace {
  width: 100%;
  height: 100%;
  z-index: 100;
}

/* .logo {
  position: fixed;
  top: 37px;
  left: 15px;
  font-size: 25px;
  letter-spacing: 10px;
} */
.copyRight {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: end;
  bottom: 0px;
  width: 100%;
  height: 50px;
  padding-bottom: 5px;
  color: white;
  z-index: 500;
  font-size: 12px;
}

.splineFace canvas {
  width: 100% !important;
  height: 100% !important;
}

@media only screen and (max-width: 400px) {
  .home_3dImage {
    width: 850px;
  }
  .home_navigation a {
    flex-direction: column;
  }
}
