/* Fonts  */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* Components  */
@import url(./styles/home.css);

@import url(./styles/Story.css);
@import url(./styles/components/storyPageComponents/story-tape.css);

@import url(./styles/components/twoLines.css);
@import url(./styles/components/menu.css);

body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
