.cursor_rounded {
  position: fixed;
  left: 0;
  right: 0;
  transition: 0.1s;
  width: 40px;
  height: 40px;
  z-index: 100;
  outline: 2px solid rgb(0, 0, 0);
  backdrop-filter: invert(1);
  border-radius: 50%;
  z-index: 10000;
}
